.background {
	width: 100%;
	min-height: 80vh;
	// background: red;
	background: url('https://images.unsplash.com/photo-1614531341773-3bff8b7cb3fc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWZyaWNhbiUyMGxhbmRzY2FwZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
	background-repeat: no-repeat;
	background-size: cover;
}