<header>Components Samples</header>
<section>
    <nav>
        <ul>
            <li><a routerLink="input-validation">Input Validation</a></li>
            <li><a routerLink="circulo">Circle</a></li>
            <li><a routerLink="image-legend">Image with legend</a></li>
            <li><a routerLink="image-float">Imagem with floating content</a></li>
            <li><a routerLink="clearfix">Clearfix hacking</a></li>
            <li><a routerLink="box-model">Box Model</a></li>
            <li><a routerLink="center">Center</a></li>
            <li><a routerLink="flexbox">Flexbox</a></li>
            <li><a routerLink="gridbox">Gridbox</a></li>
            <li><a routerLink="sidebar">Sidebar</a></li>
            <li><a routerLink="background">Background</a></li>
            <li><a routerLink="gradient">Gradient</a></li>
            <li><a routerLink="animation">Animation</a></li>
        </ul>
    </nav>

    <article>
        <router-outlet></router-outlet>
    </article>
</section>

<footer>
    <p>Footer</p>
</footer>