<header>Components Samples</header>
<section>
	<nav>
		<ul>
			<li><a [routerLink]="['/index/input-validation']">Input Validation</a></li>
			<li><a [routerLink]="['/index/circulo']">Circle</a></li>
			<li><a [routerLink]="['/index/image-legend']">Image with legend</a></li>
			<li><a [routerLink]="['/index/image-float']">Imagem with floating content</a></li>
			<li><a [routerLink]="['/index/clearfix']">Clearfix hacking</a></li>
			<li><a [routerLink]="['/index/box-model']">Box Model</a></li>
			<li><a [routerLink]="['/index/center']">Center</a></li>
			<li><a [routerLink]="['/index/flexbox']">Flexbox</a></li>
			<li><a [routerLink]="['/index/gridbox']">Gridbox</a></li>
			<li><a [routerLink]="['/index/sidebar']">Sidebar</a></li>
			<li><a [routerLink]="['/index/background']">Background</a></li>
			<li><a [routerLink]="['/index/gradient']">Gradient</a></li>
			<li><a [routerLink]="['/index/animation']">Animation</a></li>
			<li><a [routerLink]="['/nav-without-js']">Nav Without JS</a></li>
		</ul>
	</nav>

	<article>
		<ng-content></ng-content>
	</article>
</section>

<footer>
	<p>Footer</p>
</footer>