* {
	box-sizing: border-box;
}

$width: 30ch;

.box {
	background-color: LimeGreen;
	width: 30%;
	max-width: $width;
}

.box-with-padding {
	background-color: LightBlue;
	padding: 0 25px;
	width: 30%;
	max-width: $width;
}
